IP_ADDRESS="127.0.0.1"
LOGIN_PORT=8484
WORLD_PORT=8485
POSTGRES_ADDRESS="127.0.0.1"
POSTGRES_DATABASE=v
POSTGRES_USER=rust
POSTGRES_PASSWORD=test
POSTGRES_PORT=5432
SCANIA=false
SCANIA_CHANNEL_COUNT=0
BERA=false
BERA_CHANNEL_COUNT=0
WINDIA=false
WINDIA_CHANNEL_COUNT=0
BROA=false
BROA_CHANNEL_COUNT=0
KHAINI=true
KHAINI_CHANNEL_COUNT=3
MARDIA=false
MARDIA_CHANNEL_COUNT=0
YELLONDE=false
YELLONDE_CHANNEL_COUNT=0
BELLOCAN=false
BELLOCAN_CHANNEL_COUNT=0
CHANNEL_CAPACITY=700
WORLD_FLAG=0
EVENT_MESSAGE="Running on oxidized ferrum..."
